body {
    font-family: 'Courgette', cursive;
}

.imagem {
    width: 100vw;
    height: 100vh;
    background: url(../images/background.jpg);
    background-size: cover;
}

h1 {
    margin-top: 60px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.texto {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

label {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
}

option, select {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

input {
    background: white;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: 1s all;
    cursor: pointer;
}

.adicionar:hover {
    background: rgb(255, 55, 55);
    transform: scale(1.2);
}

.adicionar:active {
    border-color: rgb(0, 0, 0);
}

h2 {
    color: red;
    margin: 20px 0px 20px 0px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

li {

    font-size: 35px;
    text-align: center;
}

ul {
    margin: 0px 0px 20px 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

button {
    margin: 0px 0px 0px 20px;
    font-size: 17px;
    transition: 1s all;
    cursor: pointer;
}

button:hover {
    background: rgb(255, 55, 55);
    transform: scale(1.2);
}

button:active {
    border-color: rgb(0, 0, 0);
}



